env
parts/
include/
lib/
bin/
var/
develop-eggs/
pickedversions.cfg
.installed.cfg
.coverage
*.egg-info
*.mo
*~
*sendmail*egg
*mailer*egg
pyramid_chameleon*
eggs/
src/
.mr.developer.cfg
lib64
opt
*.pyc
*.swp
sync.ini
development.db
testresults
coverage.xml
dist/
*.swo
*.idea
*.egg
